
.stop-watch{
  margin-top: 50px;

  margin-left: 600px;
}

.control-buttons{
  margin-top: 34px;
  display: flex;
  width: 150px;
  height: 50px;
  justify-content: space-between;
 
}
.timer{
  margin-top: 25px;
  margin-left: 5px;
  font-size: 35px;
}
.start_btn{
  padding: 15px;
}
.reset_btn{
  padding: 15px;
}
.clock{
  margin-left: 600px;
}
.heading{
  margin-left: 3px;
  font-size: 25px;
}